* {
  padding: 0;
  margin: 0;
  color: #484848;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

#header {
  background-color: #3182ce;
  display: flex;
  align-items: center;
  gap: 13px;
}

#header h3 {
  color: #fff;
}

#container {
  padding: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: auto;
}

.input-container label {
  margin-top: 5px;
}



#input-inline {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

input,
select {
  border: 1px #ccc solid;
  border-radius: 5px;
  padding: 5px;
}
